go 1.26.2

use (
	./api
	./model
	../../../core-module/api
	../../../core-module/model
)

replace github.com/moduleforge/core-api v0.0.0 => ../../../core-module/api

replace github.com/moduleforge/core-model v0.0.0 => ../../../core-module/model

replace github.com/moduleforge/tags-model v0.0.0 => ./model
